.main-section{
    background-image: linear-gradient(150deg,#9796f0 50%,#fbc7d4);
}

.cards-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 91.5vh;
    height: 100%;
}


.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    margin-top: 55px;
    max-width: 700px;
    width: 100%;
}
